.body-register {
    padding-top: 60px;
    padding-bottom: 60px;
    background: url('https://hr681.com/home/img/reg/bg.jpg') no-repeat center;
}

.btn-submit {
    padding: 12px 20px !important;
    background: linear-gradient(to top, #fef9af 0, #f1c858 100%) !important;
    color: #000 !important;
}

.btn-reset {
    padding: 12px 40px !important;
    background: linear-gradient(to top, #2161b4 14%, #133678 100%) !important;
}
.class-box-register {
    display: flex;
    justify-content: center;
}
