.body-box-target {
    display: flex;
    justify-content: center;
}

.body-box {
    width: 100%;
    height: 180px;
    background: url('../../../../public/item-box.png') no-repeat transparent;
    background-size: 100% 100%;
    border-bottom: 1px solid #ebb663;
    border-radius: 8px;
}

.btn-ingame {
    background: linear-gradient(to top, #ebb663 0, #fdfea1 46%, #efd892 98%) !important;
    color: #000 !important;
    padding: 8px 12px !important;
    text-align: center;
}

.count {
    border: 1px solid #ebb663;
    padding: 6px 12px;
    border-radius: 4px;
    position: relative;
}

.loadding-countDown {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    background-image: url(../../../../public/loadding-s.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #f1e6c6e8;
    cursor: wait;
    &.active {
        display: flex;
    }
}
