.content {
    width: 100%;
    height: auto;
    .content-box {
        width: 100%;
        height: auto;
        padding-bottom: 20px;
        .title {
            width: 100%;
            height: 30px;
            text-align: center;
            border: 1px solid #e5e5e5;
            background-color: #e7f0fc;
            h6 {
                font-size: 0.9rem;
                line-height: 30px;
                font-weight: 600;
            }
        }
        .content-choose {
            display: flex;
            padding-top: 20px;
            flex-wrap: wrap;
            li {
                list-style: none;
                width: 86px;
                height: 60px;
                border: 1px solid #ddd;
                margin: 10px;
                border-radius: 4px;
                cursor: pointer;
                position: relative;
                background-color: #fff;
                z-index: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                &.active {
                    background-image: linear-gradient(180deg, #8cc5f8, #486fec);
                    p {
                        color: white;
                    }
                }
                p {
                    font-size: 13px;
                    line-height: 20px;
                }
                p:last-child {
                    color: red;
                }
            }
        }
    }
}
